<h1 class="text-center mt-3">Les oeuvres</h1>
<div id="gallery" class="container my-5 col-11 d-flex flex-column align-items-center">
  <div class="cards d-flex flex-wrap justify-content-between">
    <% @artworks.each do |a| %>
    <div id ="<%= @i += 1 %>" class="card-category flex-column justify-content-end opacity my-2" style="background-image: url(https://picsum.photos/id/<%= @n += 1 %>/1200/600?grayscale)" data-toggle="modal" data-target="#artworkCarousel<%= @i += 1 %>">
      <h2><%= a.title %></h2>
    </div>
    <div id="artworkCarousel<%= @i %>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content h500px">
          <img class="h500px" src="https://picsum.photos/id/<%= @n %>/1200/600?grayscale" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h5><%= a.title %></h5>
            <p><%= a.description %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
