<h1 class="text-center mt-3">Les oeuvres</h1>
<div class="container my-5">
  <div class="form-inline justify-content-between mb-3">
    <%= form_tag artworks_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control mr-sm-2",
    placeholder: "Chercher une oeuvre" %>
    <%= submit_tag "Chercher", class: "btn btn-dark mr-3 my-2 my-sm-0" %>
    <% end %>
    <%= link_to "Toutes les oeuvres", artworks_path, class: "btn btn-dark my-2 my-sm-0" %>
  </div>

  <div id="gallery" class="d-flex flex-column align-items-center">
    <div class="cards d-flex flex-wrap justify-content-between">
      <% @artworks.each do |a| %>
      <div id ="<%= @i += 1 %>" class="card-category flex-column justify-content-end opacity my-2" style="background-image: url(https://picsum.photos/id/<%= @n += 1 %>/1200/600?grayscale)" data-toggle="modal" data-target="#artworkCarousel<%= @i += 1 %>">
        <h2><%= a.title %></h2>
      </div>
      <div id="artworkCarousel<%= @i %>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content h500px">
            <img class="h500px" src="https://picsum.photos/id/<%= @n %>/1200/600?grayscale" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5><%= a.title %></h5>
              <p><%= a.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
